Занятие 1

Задание 1

In [ ]:
2 + 2

In [ ]:
3 - 5

In [ ]:
25 * 5

In [ ]:
100/4

In [ ]:
8+3*5

In [ ]:
(8+3)*5

In [ ]:
18//4

In [ ]:
18/4

In [ ]:
13//4 #Деление без остатка

In [ ]:
13%4 #Остаток от деления

In [ ]:
5**3 #Возведение в степень

In [ ]:
5 == 5

In [ ]:
5 == 6

In [ ]:
5<3

In [ ]:
5 > 3

In [ ]:
6 <= 2

In [ ]:
4 <= 5

In [ ]:
print (333333)

In [ ]:
print ("Hi")

In [ ]:
"выммв"

In [ ]:
'dgggf'

In [ ]:
'I don't love it....'

In [ ]:
"I don't love it...."

In [ ]:
'I don\'t love it....'

In [ ]:
print ("Сок")

In [ ]:
print ("C:\User\Desktop\Python")

In [ ]:
print (r"C:\User\Desktop\Python")

In [ ]:
firstName = "Marina "
secondName ="Sokolova"
some = firstName + secondName
print (some)
firstName*3

Marina Sokolova

'Marina Marina Marina '

In [ ]:
"some " + "test"

In [ ]:
# Cписки
playrs = [17, 5, 8, 3, 21]
playrs [2]
# Изменение одного компанента списка на другой 
playrs [3] = 10
playrs [3]
playrs
# Добавление компонентов на одно событие 
playrs + [4, 11, 6]
# Добавление компонентов на постоянку с помощью функции "append(...)"
playrs. append(4)
# Обрезание списка до 2 элементов  через [:...]
playrs[:2]
# Редактирование списка с помощью [кол-во элементов для изменения] = [на какие элементы надо изменить]
playrs[:2] = [0, "true"]
playrs
# Удаление 2 элементов с помощью []
playrs[:2] = []
playrs
# Удаление всех элементов с помощью []
playrs[:] = []

In [ ]:
# Переменные и их имена 
var = 11 #var - переменная, 11 - объект
varsome = "some"

num1 = 22
num2 = 33

res = num1 +num2
print (res)

num1 = 12
res = num1 +num2
print (res)

num2 = ' someWor'
# Перевод из числа в строку для сложения
str1 = str (num1)
res = str (num1) +num2
print (res)

In [ ]:
var = input()
print (type(var))
# Тип данных str - строка

In [ ]:
num1 =float(input( ))
num2 =float (input ( ))

summ = num1 + num2

#print (summ)
some1 = "22"
some2 = '33'

#int - преобразование из строки в число 
#some1 = int (some1)
#some2 = int (some2)
#summ = some1 + some2

#float - для чисел c дробной частью 
#some1 = float(some1)
#some2 = float(some2)
#summ = some1 + some2

print (summ)

In [ ]:
age = 12
#Условие 
if age < 20:
  print ("age < 20")
#Доп проверка
elif age >20:
  print ("age > 20")
#Альтернативный вывод
else: 
  print ("age - 20")

In [ ]:
name = "Marina"
if name is 'ii':
  print ("лох")
elif name is "in":
  print ("кусь")
else:
  print("Marina")

In [ ]:
#ЛОГИКА True and False
#and (И)
#or (или)
#not (не)
#!= (не равно )
#== (равно )
#>= (больше или равно )
#<= (меньше или равно )
#True (правда )
#False (ложь)

str = "some"
var = True

if str and var:
  print ("Done")

In [ ]:
# Циклы и списки 
basket = ['Молоко', 'Колбаса', 'Конфеты', 'Сигареты', 'Хлеб', 'Cоль']
#Запускаем цикл for, берем переменную, которая присваивается каждому элементу из списка, указываем список.
for f in basket[:3]:
  
  #if f == 'Колбаса':
   # some = f + '+'
   # print (some)
   print(len(f))

In [ ]:
def some():
  print ('some')

some()

In [ ]:
def bitcoin_to_usd(btc, curs):
  amount = btc * curs
  print (amount)

bitcoin_to_usd(round (4.6), 4100)

In [ ]:
class Dog():
  #"Простая модель собаки"
  def __init__(self, name, age):
  #"Инициализируем атрибуты имя и возраст"
    self.name = name
    self.age = age 
    print ('Собака создана')

  def sit(self):
  #"Собака будет садиться по команде"
    print(self.name.title()+ "сел")
  def jump(self):
  #Собака будет прыгать по команде
    print(self.name.title()+ "сделал прыжок")

my_dog = Dog ('Topic ', 4)
print (my_dog.age)
print (my_dog.name)
my_dog.jump()


my_dog_2 = Dog('Nick ', 7) 
print (my_dog_2.age)
print (my_dog_2.name)
my_dog_2.sit()

Собака создана
4
Topic
Topic сделал прыжок
Собака создана
7
Nick
Nick сел